{% extends 'layouts/BBLayout.html.twig' %}

{% block content %}
<div id="container-bol">
    <div id="boleto">
    {% include 'parts/BBReciboSacado.html.twig' %}
    {% include 'parts/BBFichaCompensacao.html.twig' %}
    </div>
</div>
    {% debug %}
{% endblock %}


